<!-- user row -->

<div class = "dashboard">
<div class = "row-fluid">

    <div class= "span2" id="user-pic">
      <p>
        <%= image_tag avatar_url(@user), :size =>"85x90"%>
      </p>
    </div>

    <div class="span3" id="user-name">
        <p class="lead" id="name-text">
          <h4><%= @user.name %></h4>
        </p>
        <% if !@user.energy_data.empty? %>
        <p style="font-size:16px">
         <!-- Joined: <%= @user.created_at.month %>-<%= @user.created_at.day %>-<%= @user.created_at.year %>
          <br>-->
          Location of solar panel: <b><%= @location %></b>
        </p>
        <% end %>
    </div>

    <% if !@user.energy_data.empty? %>
    <div id="weather">
      <%= @location %>
      <%= @weather %>
    </div>
    <% end %>

    <% if @user.energy_data.empty? %>
      <p style="font-size:16px">
        <%= link_to "Learn how you can go solar and activate this dashboard", 'http://www.98lumens.com/consult.html', :class=>"btn btn-success btn-large dash-btn" %>
      </p>
    <% end %>

</div>

<% if !@user.energy_data.empty? %>
  <!-- chart and highlight row -->
<div class="row-fluid">
        <div class="graph-title"><p class="lead">Clean energy produced by your solar panel (kWh)</p></div>
        <p>
          <div class="btn-group  pull-right" data-toggle="buttons-radio">
            <button type="button" class="btn" id="day">Today</button>
            <button type="button" class="btn" id="month" >Last 30 days</button>
            <button type="button" class="btn" id="year">This year</button>
          </div>
        </p>
        <p>
          <div id="year-graph" style="width:100%;height:400px;"></div>
        </p>
  </div>

  <div class="row-fluid highlight-boxes">
      <div class="highlight-box" id="sun-hl" title="kWh is the unit of measurement for electricity. Your panel is responsible for <%= number_to_human(@user.calculate_overall_power_for, :precision =>2, :units => {:unit => 'Wh', :thousand => 'kWh', :million => 'MWh'}) %> of renewable energy over the duration of its operation.">
        <div class='highlight-banner'>
          <div class="highlight"><%= number_to_human(@user.calculate_overall_power_for, :precision =>2, :units => {:unit => 'Wh', :thousand => 'kWh', :million => 'MWh'}) %></div>
          <div class="sub-highlight">Lifetime output</div>
        </div>
      </div>
      <div class="vertical-space"></div>
      <div class="highlight-box" id="dollar-hl" title="The clean energy produced by your panel is being sold to a local utility and has generated $<%= number_to_human(@user.calculate_overall_money_for, :precision => 2) %> for you.">
        <div class='highlight-banner'>
          <div class="highlight">$<%= number_to_human(@user.calculate_overall_money_for, :precision => 4) %></div>
          <div class="sub-highlight">Lifetime earning</div>
        </div>
      </div>
      <div class="vertical-space"></div>
      <div class="highlight-box" id="green-hl" title="The dirty energy replaced by your panel is equivalent to planting <%= number_to_human(@user.calculate_overall_trees_for, :precision => 0, :units => {:unit => 'tree', :ten => 'trees'}) %>.">
        <div class='highlight-banner'>
          <div class="highlight"><%= number_to_human(@user.calculate_overall_trees_for, :precision => 0, :units => {:unit => 'tree', :ten => 'trees'}) %></div>
          <div class="sub-highlight">Equivalent trees planted</div>
        </div>
      </div>

     <!--   <table id="sidebar-graph">
          <td id="sun-hl" rel="tooltip" title="kWh is the unit of measurement for electricity. Your panel is responsible for <%= number_to_human(@user.calculate_overall_power_for, :precision =>2, :units => {:unit => 'Wh', :thousand => 'kWh', :million => 'MWh'}) %> of renewable energy over the duration of its operation.">
            <h1><%= number_to_human(@user.calculate_overall_power_for, :precision =>2, :units => {:unit => 'Wh', :thousand => 'kWh', :million => 'MWh'}) %></h1></td>
          <td id="dollar-hl" rel="tooltip" title="The clean energy produced by your panel is being sold to a local utility and has generated $<%= number_to_human(@user.calculate_overall_money_for, :precision => 2) %> for you.">
            <h1>$<%= number_to_human(@user.calculate_overall_money_for, :precision => 4) %></h1></td>
          <td id="green-hl" rel="tooltip" title="The dirty energy replaced by your panel is equivalent to planting <%= number_to_human(@user.calculate_overall_trees_for, :precision => 0, :units => {:unit => 'tree', :ten => 'trees'}) %>.">
            <h1><%= number_to_human(@user.calculate_overall_trees_for, :precision => 0, :units => {:unit => 'tree', :ten => 'trees'}) %></h1></td>
          </tr>
        </table> -->
  </div>

<% end %>

<!-- Table for all metrics

      <div class="btn-group btn-group-vertical">
        <button class= "btn btn-block" id="perf">Performance</button>
        <button class= "btn btn-block" id="finance">Finance</button>
        <button class= "btn btn-block" id="green">Environment</button>
      </div>

<div class="row-fluid">
  <div class="span6 offset2">
    <p>
      <h2>Cumulative metrics</h2>
      <table class="table table-striped">
        <tr>
          <th>Clean energy produced</th>
          <td><%= number_with_precision(@user.calculate_overall_power_for, :precision =>2) %> Wh</td>
        </tr>
        <tr>
          <th>Money accrued</th>
          <td><%= number_with_precision(@user.calculate_overall_money_for, :precision =>2) %> dollars </td>
        </tr>
        <tr>
          <th>Equivalent emissions captured</th>
          <td><%= number_with_precision(@user.calculate_overall_emissions_for, :precision =>2) %> kg </td>
        </tr>
        <tr>
          <th>Equivalent trees planted</th>
          <td><%= number_with_precision(@user.calculate_overall_trees_for, :precision =>2) %> trees</td>
        </tr>
        <tr>
          <th>Equivalent cars taken off the road</th>
          <td><%= number_with_precision(@user.calculate_overall_cars_for, :precision =>2) %> cars</td>
        </tr>
      </table>
    </p>
-->

<!--    <p>
    	<% if @user.energy_data.any? %>
          <h2> Last 10 energy-producing hours </h2>
          <table class="table table-striped">
            <tr>
              <th>Day</th>
              <th>Solar output</th>
              <th>Emissions saved</th>
              <th>Fraction of a tree planted</th>
              <th>Money accrued</th>
            </tr>
                <%= render :partial => 'energy_data/energy_datum.html.erb', :collection => @energy_data, :as => :energy %>
          </table>
        <% end %>
    </p> -->

</div>


<% javascript_tag do %>
 
<% end %>

<script type="text/javascript">
$(document).ready(
$(function () {

                  //alert((new Date()).getTime());

    var exValue = 1;
    var sideGraphStat = $("#sidebar-graph");
    var sideGraphTD = $("#sample")

     var xyData = <%= @monthTotals.to_json %>;
     var chartLabel = "Solar output (Wh)";
     var weekXY = <%= @weekTotals.to_json %>;
     var dayXY = <%= @dayTotals.to_json %>;

     var placeholder = $("#year-graph");
     var data = xyData;
     var options = {
          //lines: {show:true},
          points: {show:false},
          bars: {show:true,
            align: "center",
            barWidth: 21*(24 * 60 * 60 * 1000),
            lineWidth:0,
            fillColor: "rgba(68, 177, 217, 0.75)"}, //#*day
          xaxis: {
            mode: "time",
            timeformat: "%b",
            monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            tickLength:0,
          },
          grid: {hoverable:true, 
                clickable:true, 
                autohighlight:true},
          yaxis: {
            show:true,
            tickLength:0
          }
          //timeformat: "%H %p",
          //twelveHourClock: true}
        };

      var plot = $.plot(placeholder,[data], options);

      $('#sun-hl').tooltip();
      $('#dollar-hl').tooltip();
      $('#green-hl').tooltip();

      $('#day').click(function(){
        data = switchProf(0);
        options = {
          bars: {show:true,
            align: "center",
            barWidth: 0.03*(24 * 60 * 60 * 1000),
            lineWidth:0,
            fillColor: "rgba(68, 177, 217, 0.75)"},
          xaxis: {
            mode: "time",
            //timeformat: "%m"
            //timeformat: "%H %p",
            twelveHourClock: true,
            tickLength:0,
          },
          grid: {hoverable:true, 
                clickable:true, 
                autohighlight:true},
          yaxis: {
            show:true,
            tickLength:0
          }
        };

        doThis();
      });

      $('#month').click(function(){
        data = switchProf(1);
        //alert(data);
        options = {
          bars: {show:true,
            align: "center",
            barWidth: 0.8*(24 * 60 * 60 * 1000),
            lineWidth:0,
            fillColor: "rgba(68, 177, 217, 0.75)"},
          xaxis: {
            mode: "time",
            //timeformat: "%m"
            timeformat: "%b-%d",
            dayNames: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            tickLength:0,
          //twelveHourClock: true}
            },
          grid: {hoverable:true, 
                clickable:true, 
                autohighlight:true
              },
          yaxis: {
            show:true,
            tickLength:0
          }
        };
        doThis();
      });

      $('#year').click(function(){
        data = switchProf(2);
        options = {
          bars: {show:true,
            align: "center",
            barWidth: 21*(24 * 60 * 60 * 1000),
            lineWidth:0,
            fillColor: "rgba(68, 177, 217, 0.75)"},
          xaxis: {
            mode: "time",
            timeformat: "%b",
            monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            tickLength:0,
          //timeformat: "%H %p",
          //twelveHourClock: true}
          },
          grid: {hoverable:true, 
                  clickable:true, 
                  autohighlight:true},
          yaxis: {
            show:true,
            tickLength:0
          }
        };
        doThis();
      });


  function switchProf(timeGran) {
    var dataReturn = [];
      switch (timeGran) {
        case 0:    //day
          dataReturn = <%= @dayTotals.to_json %>
          break;
        case 1:    //month
          dataReturn = <%= @weekTotals.to_json %>
          break;
        case 2:    //year
          dataReturn = <%= @monthTotals.to_json %>
          break;
      }

    return dataReturn;
  }

//redraws canvas
  function doThis() {
     //placeholder.css("display","none");
     $.plot(placeholder,[data], options);
     //placeholder.fadeIn(200);
  } 

  //event listeners

      function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y - 30,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    //var previousPoint = null;
      placeholder.bind("plothover", function (event, pos, item) {
         // alert('check');
       // if ($("#enableTooltip:checked").length > 0) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                    
                    showTooltip(item.pageX, item.pageY,
                                y + " kWh");
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;            
            }
        //}
    });

    placeholder.bind("plotclick", function(event, pos, item) {
      //alert('woo');
    })
    
    placeholder.resize(function () {
      /*  $("body").prepend("<div>Placeholder is now "
                           + $(this).width() + "x" + $(this).height()
                           + " pixels</div>"); */
    });
}));
</script>